
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
 
}


.wrapperFigures{
      display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
}
