.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
}

.solids {
  max-width: 22%;
  max-height: 82px;
}

.wrapperFigures {
  display: flex;
  gap: 9%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2%;
}



.wrapperFigures img {
  max-height: 72px;
}

.palette {
flex-direction: column;
    display: flex;
    position: absolute;
    top: 27%;
    left: 14%;
    width: clamp(10px, 60vw, 500px);
}
