.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
}

.solids {
  max-width: 22%;
  max-height: 82px;
}

.wrapperFigures {
  display: flex;
  gap: 9%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2%;
}



.wrapperFigures img {
  max-height: 80px;
}

.palette {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 27%;
  width: 65%;
  left: 14%;
}
