.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(30, 178, 109);
 
  
}

.wrapperContent{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 20px 0;
}

.wrapperImg {
  display: flex;
  gap: 6px;
  align-items: center;
  color: rgb(253, 83, 180);
}

.wrapperImg img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: .2s ease scale;
}

@media (width < 760px) {
  .wrapperImg img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: .2s ease scale;
}



}

.wrapperImg img:hover {
  scale: 1.1;
}
