.wrappContent {
  position: absolute;

  bottom: 29%;
  right: 16%;

  width: 82%;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  gap: 2%;
}

.dropZone {
  position: relative;

  width: 100%;
  aspect-ratio: 358 / 259;
}

.dropZoneImage {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: contain;
}

.animalFace {
  position: absolute;

  height: 83%;
  width: auto;

  top: 6.2%;

  object-fit: contain;

  pointer-events: none;
  user-select: none;
}

/* POSICIÓN HORIZONTAL */

.faceRight {
  right: 9%;
}

.faceLeft {
  left: 9%;
}

/* OSO */

.bear {
  height: 85.8%;
  top: 7%;
}
.bear.faceRight {
  right: 9.3%;
}
.bear.faceLeft {
  left: 9.2%;
}

/* GATO */

.cat {
  height: 83%;
  top: 8.2%;
}

.cat.faceLeft {
  left: 11%;
}
.cat.faceRight {
  right: 11.7%;
}

/* PERRO */

.dog {
  height: 82%;
  top: 8.9%;
}

.dog.faceLeft {
  left: 6.5%;
}

.dog.faceRight {
  right: 6.7%;
}

/* MONO */

.monkey {
  height: 82%;
  top: 9%;
}

.monkey.faceLeft {
  left: 3.3%;
}

.monkey.faceRight {
  right: 3.6%;
}
