:root {
  --primary: #0b5394;

  --secondary: #f4b400;

  --background: #f5f5f5;

  --text: #333;

  --white: #fff;

  --radius: 12px;

  --shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  --green: rgb(30, 178, 109);

  --fontFamily: "Asap Sharp", sans-serif;
}
