:root{

    --primary:#0B5394;

    --secondary:#F4B400;

    --background:#F5F5F5;

    --text:#333;

    --white:#FFF;

    --radius:12px;

    --shadow:0 2px 8px rgba(0,0,0,.15);
    
    --green : rgb(30, 178, 109)

}