.container {
  background-image: url(../../../../../../public/images/Activity02/hero.png);
  background-size: contain;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  max-width: 900px;
  width: 95%;
  height: 75vh;
  position: relative;
  margin: 0 auto;
}