.modal {
  height: 100%;
  width: 100vw;
  background: rgba(129, 129, 129, 0.87);
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  overflow-x: auto;
  place-items: center;
  z-index: 200;
}

 .feedBackImg {
  width: 45%;
  display: block;
  position: absolute;
  top: 12%;
  left: 19%;
}
.bgSlide {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.buttonsWrapper {
  display: FLEX;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10%;
  height: 33%;
  right: 1%;
  bottom: 0%;
  max-width: 25%;
  text-align: center;
}

.continue {
  width: clamp(10px, 15vw, 90px);
}
.reset {
  width: clamp(10px, 11vw, 50px);
}
