.pieceWrapper {
  position: absolute;
  bottom: 2%;
  right: 16%;
  width: 82%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 1%;
}

.imagesWrapper {
  height: 90px;

  display: flex;
  align-items: flex-end;
}

.imagesWrapper img {
  display: block;
  width: clamp(15px, 6vw, 80px);
  object-fit: contain;
  max-height: 80px;
}
