.btnReturn {
  position: absolute;
  bottom: 2%;
  right: 10%;
  width: clamp(12px, 5vw, 25px);
  transition: scale 0.5s ease;
}

.notFound {
  font-size: clamp(0.1rem, 2.5vw, 1.1rem);
  position: relative;
}
