.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.logo {
  color: white;

  font-size: 24px;

  font-weight: bold;
}

.title {
  color: white;

  font-size: 22px;
}

.logo {
  width: 100px;
}

.button {
  color: black;
}

#visible {
  left: 4px;
}
