.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  width: clamp(10px, 54vw, 470px);
  position: fixed;
  top: 31%;
  right: 16%;
}
.wrapper img {
  width: 100%;
  display: block;
  object-fit: contain;
}
